.Content {
  display: flex;
  flex-direction: row;
}
.Bought {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .Content {
    display: flex;
    flex-direction: column;
  }
  .Bought {
    display: flex;
    flex-direction: column;
  }
}
